p{
    color: rgb(22, 22, 6);
	font-style: italic;
	font-size: 20px;
}
em{
    color:rgb(245, 108, 17);
    font-style: oblique;
}
#header {
	width: 240px;
	text-align: left;
	margin-bottom: 20px
}
.f1{
	font-style: italic;
	font-weight: bold;
	color: rgb(253, 253, 6);
	font-size: 30pt;
}
#sidebar {
	float: left;	
	width: 240px;
	padding-top: 20px
}
#wrap {
	width: 840px;
	padding: 40px 20px;
	margin: 0 auto;
}
.scrollContainer div.panel {
    height: 478px;
    width: 488px;
	overflow: hidden;
}
#content {
	float: right;
	width: 568px;
	height: 558px;	
	background-color: rgba(32, 236, 236, 0.548) ;
}
.content_section {
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 1px dashed rgb(194, 9, 9);
}
.button{
	background-color:rgb(95, 78, 55);
	border-radius: 50px;
	color: white;
	padding: 10px 20px;
	text-align: center;
	display: inline-block;
	font-size: 20px;
	margin: 4px 2px;
	cursor: pointer;
}

.scroll {
    height: 478px;
    width: 800px;
	margin: 20px;
    overflow: auto;
    overflow:hidden;
    position: relative;
	clear: left;
}
#slider {
    position: relative;
	width: 100%;
}
ul.navigation {
    list-style: none;
    margin: 0 auto;
	padding: 0;
}

ul.navigation li {
    display: inline;
    margin: 0;
	padding: 0;
}

ul.navigation a {
	display: block;
	padding: 0 0 6px 0;
	margin: 0 0 30px 0;
	border-bottom: 1px dashed rgb(255, 0, 0);
	color:aqua;
	font-size: 25px;
	font-weight: 50;
    text-decoration: none;
	font-family: Georgia, "Times New Roman", Times, serif;

}

ul.navigation a:hover, ul.navigation a.selected {
	color:red;
	padding-left: 10px;
	font-weight: 50;
}

ul.navigation a:focus {
    outline: none;
}
.hide {
    display: none;
}
.content_section {
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 1px dashed rgb(12, 207, 54);
}